@import 'colors';

/* Mengatur agar body dan html memiliki tinggi penuh */
html, body {
  height: 100%;  /* Memastikan halaman memiliki tinggi penuh */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Agar halaman tidak bisa di-scroll sebelum aplikasi dirender */
}

/* Pastikan root (div#root) mengisi seluruh ruang yang tersedia */
#root {
  height: 100%;  /* Pastikan root mengisi seluruh tinggi halaman */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Agar tidak ada scroll saat aplikasi belum dirender */
}

h1, h2, h3, h4 {
  font-weight: 500;
}

footer {
  background-color: $primary-color;
  text-align: center;
  color: $white-silver;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 2em 0 2em 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Total tinggi layar */
}

