// Red shades
$red-dark: #C71010;
$red-medium: #C74A6D;

// Green shades
$green-dark: #10C710;
$green-medium: #21C76D;
$green-light: #4AC74A;

// Blue shades
$blue-dark: #1010C7;
$blue-medium: #106DC7;
$blue-light: #21C7C7;

// Purple
$purple: #6D4AC7;

// Black & White/Silver
$black: #101010;
$white-silver: #C7C7C7;

// Gold
$gold: #C7C710;

$primary-color: $red-medium;  // Adjusting primary color to blue-dark for branding
$secondary-color: $green-dark;
$background-color: $white-silver;